<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.ecoalis" />

    <!--  TP1  -->

    <bean id="c" class="tp1.Collaborateur">
        <property name="nom" value="Jhon"> </property>
        <property name="prenom" value="Doe"> </property>
    </bean>

    <bean id="p" class="tp1.Periode">
        <property name="dateDebut" value="07/02/2025"> </property>
        <property name="nbJours" value="10"> </property>
    </bean>

    <!--  TP2  -->

    <!--
    <bean id="demandeConge" class="tp1.DemandeConge" autowire="byType"> </bean>
    -->

    <!--
    <bean id="demandeConge" class="tp1.DemandeConge" autowire="byName"> </bean>

    <bean id="demandeCongeSansModificateurs" class="tp1.DemandeCongeSansModificateurs" autowire="constructor"> </bean>
    -->

    <!--
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    -->

    <bean id="demandeConge" class="tp1.DemandeConge"> </bean>

    <bean id="demandeCongeSansModificateurs" class="tp1.DemandeCongeSansModificateurs">
        <constructor-arg ref="c" />
        <constructor-arg ref="p" />
    </bean>

    <bean id="c2" class="tp1.Collaborateur">
        <property name="nom" value="Xiang"> </property>
        <property name="prenom" value="Luc"> </property>
    </bean>

</beans>