<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="c" class="tp1.Collaborateur">
        <property name="nom" value="Jhon"> </property>
        <property name="prenom" value="Doe"> </property>
    </bean>

    <bean id="p" class="tp1.Periode">
        <property name="dateDebut" value="07/02/2025"> </property>
        <property name="nbJours" value="10"> </property>
    </bean>

    <bean id="demandeConge" class="tp1.DemandeConge" scope="prototype">
        <property name="collaborateur" ref="c"> </property>
        <property name="periode" ref="p"> </property>
    </bean>

    <bean id="demandeCongeSansModificateurs" class="tp1.DemandeCongeSansModificateurs">
        <constructor-arg index="0" ref="c"/>
        <constructor-arg index="1" ref="p"/>
    </bean>

</beans>